com.bugsyteam.plugins.espressif-prod/.project
com.bugsyteam.plugins.espressif-prod/.settings
com.bugsyteam.plugins.espressif-prod/bin
com.bugsyteam.plugins.espressif-prods/.project
com.bugsyteam.plugins.espressif-prods/.settings/org.eclipse.jdt.core.prefs
com.bugsyteam.plugins.espressif-prods/bin
